<section id="header">
  <section>"Contact Me"</section>
</section>
<section class="aboutHome">
  <section id="aboutDetail">
    <h2 id="aboutDetailText" ng-bind-html>
      {{ bracketLeft }}
      <br />
      <section>
        <span style="padding-left: 1em"></span>
        email:
        <span class="highlighted"
          ><a id="link" href="mailto: madvanslooten@gmail.com" target="_blank"
            >emailMe<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        linkedIn:
        <span class="highlighted"
          ><a
            id="link"
            href="https://www.linkedin.com/in/madelief-van-slooten-aa1022173/"
            target="_blank"
            >goToLinkedIn<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        github:
        <span class="highlighted"
          ><a id="link" href="https://github.com/Maddayum22/" target="_blank"
            >gitHub<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <span>{{ bracketRight }}</span>
    </h2>
  </section>
</section>
