<section class="projects">
  <section id="arrow">
    <img src="../../../assets/arrow.svg" alt="v" />
  </section>
  <ul>
    <li class="projectLi" *ngFor="let project of projects">
      <section id="aboutDetail">
        <h2 id="aboutDetailText" ng-bind-html>
          {{ bracketLeft }}
          <br />
          <section>
            <span style="padding-left: 1em"></span>
            <span style="color: white">project:</span>
            <span class="highlighted">{{ project.title }}</span
            >,
            <br />
          </section>
          <section>
            <span style="padding-left: 1em"></span>
            typeOfProject:
            <span style="color: #de6b48">{{ project.typeOfProject }}</span
            >,
            <br />
          </section>
          <section>
            <span style="padding-left: 1em"></span>
            techstack:
            <span class="highlighted"
              ><span style="color: white">[</span>{{ project.techstack
              }}<span style="color: white">]</span></span
            >,
            <br />
          </section>
          <section>
            <span style="padding-left: 1em"></span>
            stateOfProject:
            <span style="color: #de6b48">{{ project.stateOfProject }}</span
            >,
            <br />
          </section>
          <section>
            <span style="padding-left: 1em"></span>
            moreInfo:
            <span class="highlighted"
              ><a id="link" href="#projects" routerLink="/projects/"
                >ProjectDetails<span style="color: rgb(240, 240, 240)"
                  >()</span
                ></a
              ></span
            >,
            <br />
          </section>
          <span>{{ bracketRight }}</span>
        </h2>
        <section id="imgStack">
          <img id="img1" src="{{ project.img1 }}" alt="picture" />
          <img id="img2" src="{{ project.img2 }}" alt="picture" />
          <img id="img3" src="{{ project.img3 }}" alt="picture" />
        </section>
      </section>
    </li>
  </ul>
</section>
