<link
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"
  rel="stylesheet"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>

<section id="header" *ngIf="project">
  <section>{{ project.title }}</section>
  <section>
    <a class="blue" id="link" href="{{ project.github }}" target="_blank"
      >goToGithub<span style="color: rgb(240, 240, 240)">()</span></a
    >
  </section>
</section>
<section id="projectAbout">
  <section *ngIf="project" id="aboutDetailText">
    <h2 ng-bind-html>
      project:
      {{ bracketLeft }}
      <br />
      <section>
        <span style="padding-left: 1em"></span>
        <span style="color: white">title:</span>
        <span class="highlighted">{{ project.title }}</span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        typeOfProject:
        <span style="color: #de6b48">{{ project.typeOfProject }}</span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        techstack:
        <span class="highlighted"
          ><span style="color: white">[</span>{{ project.techstack
          }}<span style="color: white">]</span></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        stateOfProject:
        <span style="color: #de6b48">{{ project.stateOfProject }}</span
        >,
        <br />
      </section>
      <span>{{ bracketRight }}</span>
    </h2>
  </section>
  <section *ngIf="project" id="imgStack">
    <img id="img1" src="{{ project.img1 }}" alt="picture" />
    <img id="img2" src="{{ project.img2 }}" alt="picture" />
    <img id="img3" src="{{ project.img3 }}" alt="picture" />
  </section>
</section>
<section id="arrow">
  <img src="../../../assets/arrow.svg" alt="v" />
</section>
<section id="header" *ngIf="project">
  <section>"About this project"</section>
</section>
<section id="aboutProject">
  <section *ngIf="project" id="aboutText">
    {{ project.title }}:
    {{ bracketLeft }}
    <br />
    <p [innerHTML]="project.about"></p>
    <span>{{ bracketRight }}</span>
  </section>
  <section *ngIf="project" id="aboutRespons">
    <span style="color: #7785ac">My Responsibilities:</span>
    <p [innerHTML]="project.responsibilities"></p>
  </section>
</section>

<section id="projectShowcase">
  <section id="headerBottem" *ngIf="project">
    <section>To see code:</section>
    <section>
      <a class="blue" id="link" href="{{ project.github }}" target="_blank"
        >goToGithub<span style="color: rgb(240, 240, 240)">()</span></a
      >
    </section>
  </section>
  <section id="credits" *ngIf="project">
    collaborators:
    {{ bracketLeft }}
    <br />
    <span style="color: white">[</span>
    {{ project.collaborators }}
    <span style="color: white">]</span>
    <br />
    <span>{{ bracketRight }}</span>
  </section>
</section>
