<section class="aboutHome">
  <section id="aboutDetail">
    <h2 id="aboutDetailText" ng-bind-html>
      {{ bracketLeft }}
      <br />
      <section>
        <span style="padding-left: 1em"></span>
        <span style="color: white">person:</span>
        <span class="type"><span>"Madelief van Slooten"</span></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        type:
        <span class="highlighted">Junior Software Developer</span>,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        languages:
        <span class="highlighted">["Typescript", "C#", "C++", "Python" ]</span>,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        otherTools:
        <span class="highlighted">["NodeJs", "Express", "Mocha/Chai", </span
        ><br />
        <span style="padding-left: 1em"></span>
        <span class="highlighted">"MySql", "Sequelize","andMore"]</span>,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        projects:
        <span class="highlighted"
          ><a id="link" href="#projects" routerLink="/projects/"
            >Projects<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        github:
        <span class="highlighted"
          ><a id="link" href="https://github.com/Maddayum22/" target="_blank"
            >GitHub<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <span>{{ bracketRight }}</span>
    </h2>
  </section>
</section>
