<section class="aboutHome">
  <section id="aboutDetail">
    <h2 id="aboutDetailText" ng-bind-html>
      {{ bracketLeft }}
      <br />
      <section>
        <span style="padding-left: 1em"></span>
        <span style="color: white">name:</span>
        <span class="type"><span>"Madelief van Slooten",</span></span>
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        type:
        <span style="color: #de6b48">JuniorSoftwareDeveloper</span>,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        languages:
        <span class="highlighted"
          ><span style="color: white">[</span>"Typescript", "C#", "C++",
          "Python" <span style="color: white">]</span></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        otherTools:
        <span class="highlighted"
          ><span style="color: white">[</span>"NodeJs", "Express", "Mocha/Chai", </span
        ><br />
        <span style="padding-left: 1em"></span>
        <span class="highlighted"
          >"MySql", "Sequelize","andMore"<span style="color: white"
            >]</span
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        projects:
        <span class="highlighted"
          ><a id="link" href="#projects" routerLink="/projects/"
            >Projects<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        github:
        <span class="highlighted"
          ><a id="link" href="https://github.com/Maddayum22/" target="_blank"
            >GitHub<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <span>{{ bracketRight }}</span>
    </h2>
  </section>
  <section>
    <img id="img" src="../../../assets/maddy.png" alt="picture" />
  </section>
</section>
