<section id="header">
  <span class="type"><span>"Madelief van Slooten"</span></span>
</section>
<section class="aboutHome">
  <section id="aboutDetail">
    <h2 id="aboutDetailText" ng-bind-html>
      {{ bracketLeft }}
      <br />
      <section>
        <span style="padding-left: 1em"></span>
        type:
        <span style="color: #de6b48">JuniorSoftwareDeveloper</span>,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        skills:
        <span class="highlighted"
          ><span style="color: white">{{ bracketLeft }}</span>
          <br />
          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">Typescript:</span>
          Proficient
          <span style="color: white">{{ bracketRightSingle }},</span><br />

          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">C#/C++:</span>
          Beginner
          <span style="color: white">{{ bracketRightSingle }},</span><br />

          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">Python:</span>
          Proficient
          <span style="color: white">{{ bracketRightSingle }},</span><br />

          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">AgileScrumTeamwork:</span>
          Proficient
          <span style="color: white">{{ bracketRightSingle }},</span><br />

          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">CurrentlyLearning:</span>
          "Security", "Pentesting", "C#", "andMore"
          <span style="color: white">{{ bracketRightSingle }},</span><br />

          <span style="color: white">{{ bracketLeft }}</span>
          <span style="color: white">OtherKnowledge:</span>
          "NodeJs/Express", "Mocha/Chai Testing", "Databases, MySql/Sequelize",
          "HTML/CSS"
          <span style="color: white">{{ bracketRightSingle }},</span><br />
          <span style="color: white">{{ bracketRightSingle }}</span></span
        >,
        <br />
      </section>

      <section>
        <span style="padding-left: 1em"></span>
        hobbies:
        <span class="highlighted"
          ><span style="color: white">[</span>"Programming", "Gaming", "Hiking", </span
        ><br />
        <span style="padding-left: 1em"></span>
        <span class="highlighted"
          >"BassGuitar", "Crochet","Reading"<span style="color: white"
            >]</span
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        projects:
        <span class="highlighted"
          ><a id="link" href="#projects" routerLink="/projects/"
            >projects<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <section>
        <span style="padding-left: 1em"></span>
        github:
        <span class="highlighted"
          ><a id="link" href="https://github.com/Maddayum22/" target="_blank"
            >gitHub<span style="color: rgb(240, 240, 240)">()</span></a
          ></span
        >,
        <br />
      </section>
      <span>{{ bracketRight }}</span>
    </h2>
  </section>
  <section>
    <img id="img" src="../../../assets/maddy.png" alt="picture" />
  </section>
</section>
<section id="aboutMe">
  <p>
    Welcome to my portfolio! I'm Madelief van Slooten, a passionate and
    dedicated backend developer with a creative background. After completing a
    Game Art study after highschool, I discovered my passion was not for art but
    for coding and backend development.
    <br />
    <br />
    I love learning new things and thrive in collaborative environments. With my
    scrum and agile expertise, I excel as a team player. My game art background
    provides me with a unique creative perspective that enriches my programming
    skills. I'm known for my positive attitude, perseverance, and strong work
    ethic. I never shy away from challenges and continuously strive for
    innovative solutions. I'm always eager to expand my knowledge and never stop
    learning.
    <br />
    <br />
    I'm also a huge nerd. I love Starwars, Lord of the Rings and anything
    related to fantasy, sci-fi and games. When I'm not coding, I love to still
    be a little creative by crocheting or playing on my bass guitar! Because I
    like to learn stuff and keep myself interested I also like to dabble into
    some astronomy and other science subjects.

    <br />
    <br />
    Thank you for visiting my portfolio. Feel free to explore my projects and
    reach out if you have any inquiries or collaboration opportunities. I look
    forward to connecting with you!
  </p>
</section>
<section id="headerBottem">
  <section>
    <a class="blue" id="link" routerLink="/contact"
      >contactMe<span style="color: rgb(240, 240, 240)">()</span></a
    >
  </section>
</section>
