@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
    color: #EAEAEA;
    background-color: #171A21;
}

html {
    width: 100%;
    padding: 0px;
    margin: 0px;
}