#header {
    color: #939F5C;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

@media screen and (max-width: 1000px) {
    #header {
        font-size: 1rem;
    }
}